<table>
    <thead>
        <tr>
            <th>
                Checked Color
            </th>
            <th>
                UnChecked Color
            </th>
            <th>
                Rating Value
            </th>
            <th>
                Size
            </th>
            <th>
                Read Only
            </th>
            <th>
                Star Rating
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of starRatingElements">
            <td>
                <input type="text" [(ngModel)]="element.checkedcolor" value="{{element.checkedcolor}}">
            </td>
            <td>
                <input type="text" [(ngModel)]="element.uncheckedcolor" value="{{element.uncheckedcolor}}">
            </td>
            <td>
                <input type="number" [(ngModel)]="element.value" [(value)]="starrating.value">
            </td>
            <td>
                <input type="number" [(ngModel)]="element.size" value="{{element.size}}">
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="element.readonly" value="{{element.readonly}}">
            </td>
            <td>
                <star-rating [(value)]="element.value" checkedcolor="{{element.checkedcolor}}" 
                    uncheckedcolor="{{element.uncheckedcolor}}"
                    size="{{element.size}}px" readonly={{element.readonly}} #starrating></star-rating>
            </td>
        </tr>
    </tbody>
</table>